body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.form-container {
    background-color: #fff;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

label {
    margin-bottom: 5px;
    width: 30%; /* Adjust as needed */
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    flex: 1; /* This makes the input field take up the remaining space */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.radio-group,
.checkbox-group {
    display: flex;
    margin-bottom: 20px;
}


.radio-group label,
.checkbox-group label {
    display: inline-block;
    margin-right: 10px;
}